<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD - {% block title %} {% endblock title %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style>
        h2{
        font-family:times new roman;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class=" text-center alert alert-danger">Function Based View ModelForm CRUD Project</h2>
    {% block content %}

    {% endblock content %}
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>