<!DOCTYPE html>
{% extends 'Enroll/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    Update
    {% endblock title %}
</head>
<body>
{% block content %}
<div class="row">
    <div class="col-md-8 offset-2">
        <h2 class="text-center alert alert-info" role="alert">Update Student Information</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success">Update</button>
            <a href="{% url 'addandshow' %}" class="btn btn-info">Back to Home</a>
        </form>
    </div>
</div>
{% endblock content %}
</body>
</html>